
@import "../utlis/mixin";

// Design du conteneur de la carte

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 43px 100px 50px 100px;
    padding: 56px 50px 43px 50px;
    row-gap: 50px;
    column-gap: 60px;
    background: rgba(246, 246, 246, 1);
    border-radius: 25px;

    @include cardResponsiveLarge {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    @include cardResponsiveMeduim {
        margin: 43px 20px 50px 20px;
        padding: 28px 25px 21.5px 25px;
    }

    @include cardResponsiveSmall {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        margin-top: 22px;
        margin-bottom: 27px;
        background-color: transparent;
    }

    .cardLink {
        text-decoration: none;
    }
}

// Design des cartes 

.cardContainer {
    background-color: rgba(255,96,96,1);
    max-height: 340px;
    height: 340px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    min-width: 200px;

    .cardImage {
        height: 275px;
    }

    .image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .cardTextContainer {
        display: flex;
        align-items: center;
        height: 15.29%;

        .cardText {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        
        }
    }
}