
@import "../utlis/mixin";

// container des features

.featuresContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 38px 208.5px;

    @include featureResponsive {
        margin: 19px 20px;
        row-gap: 20px;
    }
}

// design des features

.featureContent {
    background: rgba(255, 96, 96, 1);
    display: flex;
    justify-content: space-between;
    //margin: auto;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    width: 100%;

    .featureText {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin: 0;

        @include featureResponsive {
            font-size: 13px;
        }
    }

    .featureImage {
        width: 24px;
        height: 13.70px;
        align-self: center;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;

        @include featureResponsive {
            width: 16px;
            height: 9px;
        }
        
    }
    .arrowRotate {
        transform: rotate(-180deg);
    }
}

// design de l'apparition des texte 

.extendTextContainer {
    //margin: auto;
    padding: 10px 20px 10px 15px;
    border-radius: 0 0 5px 5px;
    background-color: rgba(246, 246, 246, 1);
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.250s ease-in-out, opacity 0.5s ease-in-out;
  
}
    .extendTextContainer.show {
      opacity: 1;
      transform: scaleY(1);
    }

    .extendTextContainer.hide {
        opacity: 0;
        transform: scaleY(0);
    }

    .extendText {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      color: rgba(255, 96, 96, 1);
      font-family: 'Montserrat', sans-serif;

      @include featureResponsive {
        font-size: 9px;
      }
    }

  // style du composant Feature uniquement pour la page logement 

.accomodation {

    .container {
        max-width: 582px;
        width: 49.75%;

        @include descriptionResponsiveMeduim {
            width: 100%;
            max-width: none;
        }
    }

    & .featureContent  {
        width: auto;
    }
    
    & .featureText {
        font-size: 18px;

        @include descriptionResponsiveMeduim {
            font-size: 15px;
        }

        @include descriptionResponsiveSmall {
            font-size: 13px;
        }
    }

    & .extendTextContainer {
        width: auto;
    }

    & .extendText {

        display: flex;
        flex-direction: column;
        gap: 10px;

        @include descriptionResponsiveMeduim {
            font-size: 13px;
        }

        @include descriptionResponsiveSmall {
            font-size: 10px;
        }
    } 
}

  
  




 